:root {
    --main: #333;
    --secondary: #ddd;

    --border: #555;
    --border-dark: #272727;
    --items: #ff8080;
    --container: #57bcdb;

    --h1: 2.4rem;
    --h2: 1.8rem;
    --h3: 1.6rem;
    --h4: 1.3rem;
    --nm: 1rem;
    --sm: .8rem;
    --xsm: .5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main);
    color: var(--secondary);
    font-family: Verdana, Geneva, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

p {
    padding: .5rem 0;
}

#grid_container_properties,
#grid_items_properties {
    margin: 1.5rem;
    width: 45vw;
}

.controls {
    padding: .5rem 0;
    font-size: 14pt;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.controls div {
    margin: .5rem .5rem .5rem 0;
}

.grid_container {
    display: grid;
    height: 600px;
    width: 40vw;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid var(--border);
}

.item {
    height: 100px;
    width: 100px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#align_content .item,
#grid_template_container {
    height: auto;
}

#align_items .item,
#justify_items .item {
    height: auto;
    width: auto;
}

input:checked+label {
    color: #2a80b9;
}

input[type="number"],
input[type="text"] {
    width: 3rem;
    padding: .5rem;
    margin: .2rem;
    background-color: rgb(38, 38, 38);
    color: var(--secondary);
    outline: none;
    border: 1px solid var(--border);
}

#grid_area_eq {
    width: fit-content;
}

.container {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-areas:
        'blue blue blue blue purple'
        'teal teal teal yellow yellow'
        'teal teal teal yellow yellow'
        'orange orange orange orange orange';
}

#grid_template_areas_user_in {
    height: 200px;
    width: 500px;
    overflow: scroll;
    font-size: 14pt;
    color: var(--secondary);
    padding: 1rem;
    background-color: #383838;
}

input,
textarea {
    border-radius: .5rem;
}

input:focus,
textarea:focus,
input:hover,
textarea:hover {
    outline: none;
    border: 1px solid var(--container);
}

#grid_items_properties .item {
    height: auto;
}

#grid_items_properties .teal {
    font-size: 22pt;
}

#grid_justify_self .teal {
    width: auto;
}

#grid_column_row_start_end section{
    display: grid;
}

#grid_column_row_start_end .item {
    width: auto;
    height: auto;
}

#grid_column_row_start_end .grid_container .teal {
    width: auto;
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
}

.blue {
    background-color: #2a80b9;
}

.purple {
    background-color: #a44fb3;
}

.teal {
    background-color: #00b3a4;
}

.yellow {
    background-color: #f2c94c;
}

.orange {
    background-color: #f2994a;
}